$burder-width:41px;
$burder-height:31px;
$burder-position:relative;
$burder-line-height:3px;
$burder-line-color:var(--dark-theme);
$nav-index:11;
$nav-min-width:300px;
// $burder-mediaquery:1024px; // if you change this value, you must also change it in scripts window.matchMedia("(max-width: 1024px)")

.burger {
  align-self: center;
  overflow: visible;
	position: $burder-position;
	height: $burder-height;
	width: $burder-width;
	display: block;
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
  z-index: 12;
  transition: opacity .2 ease;
  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: $burder-line-height;
    border-radius: 1px;
    // background-color: $burder-line-color;
    background-color: translate;
    transform: translateY(-50%);
    transform: scaleX(1);
    transition: transform .3s ease;
  }
  &::after,&::before {
    position: absolute;
    content: '';
    width: 100%;
    height: $burder-line-height;
    left: 0;
    border-radius: 1px;
    background-color: $burder-line-color;
    transition-property: transform, top, bottom;
    transition-duration: .3s;
    transition-timing-function: ease;
  }
  &::before{ top: 24px; }
  &::after{ bottom: 24px; }

  &:hover, &.focus-visible {
    &::before{ top: 0; }
    &::after{ bottom: 0; }

    .burger__line {
      background-color: var(--dark-theme);
    }
  }

  &:active {
    opacity: .5;
  }
}

.burger.burger--active {
  .burger__line {
    transform: scaleX(0);
  }
  &::before,&::after{
    animation: burger-open .3s ease 1 forwards;
    transition-delay: .3s;
  }
  &::before{ transform: rotate(45deg); }
  &::after{ transform: rotate(-45deg); }
}

.nav.nav--visible { transform: none !important; visibility: visible; display: block;  }
@keyframes burger-open { 100%{ top: 50%; bottom: auto;} }

// @media (max-width: $burder-mediaquery) {
// 	.burger { display: block; }
	.nav {
    visibility: hidden;
    transform: scale(0);
    transform-origin: right top;
    right: 0;
		position: absolute;
		z-index: $nav-index;
		min-width:$nav-min-width;
		overflow-y: auto;

    &__link {
      border-bottom: 2px solid transparent;
      transition-property: letter-spacing , border, opacity;
      transition-duration: .2s;
      transition-timing-function: ease;
      &:hover {
        border-color:var(--dark-theme);
        letter-spacing: 2px;
      }
      &:active {
        opacity: .5;
      }
    }
	}
  .nav__list {
    margin: 0;
    padding: 65px 30px;
    border-radius: 16px;
    min-width: 384px;
    list-style: none;
    background-color: #ededed;
    flex-direction: column;
  }
  .nav__item:not(:last-child) {
    margin: 0;
  }
  .nav__item {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }
// }
