
// screen = 1024px

@media (max-width: 1024px) {
  .header__top {
    grid-template-columns: repeat(3, 1fr) repeat(2, 50px);
  }
  .header__form {
    grid-row: 2 / 3;
    grid-column: span 2;
  }
  .header__landlord {
    grid-row: 2 / 3;
    grid-column: span 3;
    justify-content: center;
  }
  .header {
    &__user, .burger {
      justify-self: end;
    }
  }
  .burger {
    grid-column: 5 / 6;
  }
  .header__user {
    grid-column: 4 / 5;
  }
}

// screen = 700px

@media (max-width: 700px) {
  .header__top {
    grid-column-gap: 20px;
  }
  .header__form {
    margin-bottom: 16px;
    grid-column: span 5;
  }
  .header__landlord {
    grid-row: 3 / 4;
    grid-column: span 5;
  }
  // filter {
  .filter {
    flex-direction: column;
    &__item:not(:last-child) {
      margin: 0;
    }
    &__category {
      max-width: 300px;
    }
  }

}

// screen = 600px

@media (max-width: 600px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__nextprev.swiper-button-next {
    right: 10px;
  }
  .header__nextprev.swiper-button-prev {
    left: 10px;
  }
  // header
  .header__logo {
    display: block;
    width: 100px;
    height: auto;
  }
  .header {
    margin-bottom: 30px;
    &__link {
      font-size: 15px;
    }
    &__item {
      margin-right: 32px;
    }
    &__landlord {
      font-size: 14px;
    }
  }

  // navigation
  .nav {
    max-width: 300px;
    &__list {
      min-width: 100%;
    }
    &__item {
      font-size: 15px;
      padding: 10px;
    }
  }

  // breadcrumps
  .breadcrumps {
    margin-bottom: 30px;
    &__link {
      font-size: 14px;
    }
  }

  // filter
  .filter__btn, .filter__text {
    font-size: 14px;
  }

}
